# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
*.env

# System files
.DS_Store
Thumbs.db

# Matplotlib cache
.matplotlib/

# Logs and database files
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/
